Repository trailofbits/blight, pull requests merged in 2020-11, with the labels that each got.

#24 Add action IgnoreWerror
  src/blight/actions/__init__.py
  src/blight/actions/ignore_werror.py
  test/actions/test_ignore_werror.py
Labels: C:actions

#25 feat(enums): Add helper methods for enums.Std
  src/blight/enums.py
  test/test_enums.py
Labels: C:core, C:tests

#26 refactor(cli): Improve --swizzle-path
  src/blight/cli.py
Labels: C:cli

#27 feat(cli): Support Clang and GCC tool shims
  src/blight/cli.py
Labels: C:cli

#28 feat(core): Add code model modeling
  src/blight/enums.py
  src/blight/tool.py
  src/blight/util.py
  test/test_tool.py
Labels: C:core

#29 feat(core): Support the static archiver
  README.md
  src/blight/action.py
  src/blight/tool.py
  test/conftest.py
  test/test_action.py
  test/test_tool.py
Labels: C:cli, C:core
